body {
    margin: 0;
}

.container {
    background-color: #fbf7ed;
}

a {
    color: #244AB3;
}

.home-image {
    padding: 0;
}

#navigation {
    margin: 1.5em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#navigation nav > a:hover {
    font-weight: bold;
    background-color: #FFA767;
}

#navigation .btn-group a:hover {
    font-weight: bold;
    background-color: #fbf7ed;
}

#summary > h4 {
    line-height: 2;
}

.about-me > p {
    line-height: 2;
}

#introduction {
    padding-bottom: 2em;;
}

#address {
    padding: 0;
}

#address li {
    list-style-type: none;
}

.address-text li {
    display: inline-block;
    line-height: 2;
}

.address-text li:nth-child(1) { 
    text-transform: uppercase;
    width: 30%;
}

.mb-0 > a {
  display: block;
  position: relative;
}

.mb-0 > button:before {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}

.mb-0 > button[aria-expanded="true"]:before {
  content: "\f077"; /* fa-chevron-up */
}

#collapseOne ul > li {
    font-weight: bold;
}

#skills {
    padding: 1em 0;;
}

.card-header .btn-link {
    color: rgb(255,255,255);
    text-transform: uppercase;
}

.card-header {
    background-color: rgb(52,58,64);
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fbf7ed;
    border: 1px solid rgba(0,0,0,.125);
}

#accordionSpecificSkills {
    border-top: none;
    border-bottom: none;
}

.card-body {
    background-color: rgba(225,255,185, 0.5);
}

#collapseOne ul {
    margin-bottom: 0;
}

#collapseOne li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

#collapseOne li:nth-child(1) {
    text-align: left;
    width: 70%;
}

#collapseOne > .card-body {
    padding-bottom: 1.2em;padding-top: 1.2em;
}

.progress {
    height: 25px;
}

#employment > div {
    padding: 0;
}

#employment > div {
    background-color: rgba(252,109,153, 0.3);
}

#employment .carousel-item {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

#employment h4,
#education h4 {
    text-transform: uppercase;
}

#employment a,
#education a {
    color: #FFA767;
}

#education > div {
    background-color: rgba(225,255,185, 0.5);
    padding-top: 1em;
}

#contact {
    background-image: url("images/keyboard-connect.jpg");
    padding: 1em 0;
}

#contact h4 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.moduleSlide > div {
    padding: 1em;
    background-color: #fbf7ed;
}

#navigation .btn-group {
    display: none;
}

/* Animation of "I am a creative web developer" */
.signatureAnimation {
    color: black;
    font-size: 1.5rem;
    animation: signatureAnimation 4s;
}

@keyframes signatureAnimation {
    0% { color: black; }
    20% { color: #7A6E4E; }
    40% { color: black; }
    60% { color: #7A6E4E; }
    100% { color: black; }
}

/* Animation of the contact slides */
.come-in {
    transform: translateX(150px);
    animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
    transform: translateX(-150px);
    animation: come-in 1.2s ease forwards;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

/* #navigation::after {
    clear: both;
    content: "";
    display: table;
} */

#scrollEvent {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #DB47FC;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #navigation nav {
        display: none;
    }

    #navigation .btn-group {
        display: block;
    }

    #navigation .btn-group  a {
        margin-right: 20em;
    }

    #navigation .btn-group a {
        background-color: #FFA767;
        color: #244AB3;
    }

    #navigation .btn-group a + a {
        border-top: 1px solid rgba(0,0,0,.15);
    }

    #introduction img {
        padding: 0 3em 2em;
    }

    #collapseOne .special {
        margin-bottom: 2em;
    }

    #contact .moduleSlide:last-child {
        margin-top: 1em;
    }
}