body {
    margin: 0;
}

.container {
    background-color: #fbf7ed;
}

.home-image {
    padding: 0;
}

#navigation {
    margin: 1.5em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#summary > h4 {
    line-height: 2;
}

.about-me > p {
    line-height: 2;
}

#inteoduction {
    padding-bottom: 2em;;
}

#address {
    padding: 0;
}

#address li {
    list-style-type: none;
}

.address-text li {
    display: inline-block;
    line-height: 2;
}

.address-text li:nth-child(1) { 
    text-transform: uppercase;
    width: 30%;
}

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > button:before {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > button[aria-expanded="true"]:before {
  content: "\f077"; /* fa-chevron-up */
}

#collapseOne ul > li {
    font-weight: bold;
}

#skills {
    padding: 1em 0;;
}

.card-header .btn-link {
    color: rgb(255,255,255);
    text-transform: uppercase;
}

.card-header {
    background-color: rgb(52,58,64);
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fbf7ed;
    border: 1px solid rgba(0,0,0,.125);
}

#accordionSpecificSkills {
    border-top: none;
    border-bottom: none;
}

#accordionSpecificSkills .card-body,
#collapse-skills-transferable .card-body {
    background-color: rgba(8,103,11, 0.2);
}

#collapseOne ul {
    margin-bottom: 0;
}

#collapseOne li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

#collapseOne li:nth-child(1) {
    text-align: left;
    width: 70%;
}

#collapseOne > .card-body {
    padding-bottom: 1.2em;padding-top: 1.2em;
}

.progress {
    height: 25px;
}

#employment > div {
    padding: 0;
}

#employment > div {
    background-color: rgba(252,109,153, 0.3);
}

#employment .carousel-item {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
}

#employment h4,
#education h4 {
    text-transform: uppercase;
}

#education > div {
    background-color: rgba(8,103,11, 0.2);
    padding-top: 1em;
}

#contact {
    background-image: url("images/keyboard-connect.jpg");
    padding: 1em 0;
}

#contactInformation > div,
#contactForm > form {
    padding: 1em;
    background-color: #fbf7ed;
}

.btn-group {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav.nav {
        display: none;
    }

    .btn-group {
        display: block;
    }

    .btn-group a {
        background-color: #fbf7ed;
        color: #007bff;
    }

    .btn-group a + a {
        border-top: 1px solid rgba(0,0,0,.15);
    }

    #inteoduction img {
        padding: 0 3em 2em;
    }

    #collapseOne .special {
        margin-bottom: 2em;
    }
}