#introduction {
    padding-bottom: 2em;

    #summary {
        /* Animation of "I am a creative web developer" */
        $name: inline-#{unique-id()};
        
        .signatureAnimation {
            color: $animationColor1;
            font-size: 1.5rem;
            animation: $name 4s;
        }

        @keyframes #{$name} {
            0% { color: $animationColor1; }
            20% { color: $animationColor2; }
            40% { color: $animationColor1; }
            60% { color: $animationColor2; }
            100% { color: $animationColor1; }
        }
        
        > h4 {
            line-height: 2;
        }

        #address {
            padding: 0;

            li {
                list-style-type: none;
            }

            .addressText li {
                display: inline-block;
                line-height: 2;
            }
            
            .addressText li:nth-child(1) { 
                text-transform: uppercase;
                width: 30%;
            }
        }
        
    }
    
    .aboutMe > p {
        line-height: 2;
    }
}