$primaryColor: #FBF7ED;
$linkColor: #244AB3;
$linkColorHover: #FFA767;
$lightGreen: rgba(225,255,185, 0.5);
$lightPink: rgba(252,109,153, 0.3);
$cardHeaderBackgroundColor: rgb(52,58,64);
$cardButtonColor: rgb(255,255,255);
$cardBorderColor: rgba(0,0,0,.125);
$scrollColor: #DB47FC;
$animationColor1: black;
$animationColor2: #7A6E4E;